port:20222
penalty:5
java_compilationScript:"C:/Program Files (x86)/Java/jdk1.7.0_25/bin/javac"
java_source:.java
java_runfile:$name$.class
java_executionScript:"C:/Program Files (x86)/Java/jdk1.7.0_25/bin/java"
c++_compilationScript:"C:/Program Files (x86)/CodeBlocks/MinGW/bin/mingw32-c++"
c++_source:.cpp
c++_runfile:a.exe
c++_executionScript:
c_compilationScript:"C:/Program Files (x86)/CodeBlocks/MinGW/bin/mingw32-g++"
c_source:.c
c_runfile:a.exe
c_executionScript:
pascal_compilationScript:"C:/FPC/2.6.2/bin/i386-win32/fpc"
pascal_source:.pas
pascal_runfile:$name$.exe
pascal_executionScript:
python_compilationScript:Path to compilator
python_source:.py
python_runfile:$name$.exe
python_executionScript:
