port:20222
java_compiler:"C:/Program Files (x86)/Java/jdk1.7.0_25/bin/javac"
java_launcher:"C:/Program Files (x86)/Java/jdk1.7.0_25/bin/java"
c++_compiler:"C:/Program Files (x86)/CodeBlocks/MinGW/bin/mingw32-c++"
pascal_compiler:"C:/FPC/2.6.2/bin/i386-win32/ppcrossx64"
delfi_compiler:UNK
python_compiler:UNK
c_compiler:"C:/Program Files (x86)/CodeBlocks/MinGW/bin/mingw32-g++"
penalty:5
