StartTime:1389788470103
01#1#Solved:false
01#1#SolveTime:0
01#1#Tries:0
01#2#Solved:false
01#2#SolveTime:0
01#2#Tries:0
Developer#1#Solved:true
Developer#1#SolveTime:1390753668616
Developer#1#Tries:0
Developer#2#Solved:false
Developer#2#SolveTime:0
Developer#2#Tries:1
00#1#Solved:false
00#1#SolveTime:0
00#1#Tries:0
00#2#Solved:false
00#2#SolveTime:0
00#2#Tries:0
